@import './../styles/mixins.scss';

.Form {
  &___inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    @include devices(laptop) {
      order: 1;
    }

    .Form_control {

      @include devices(mobile) {
        display: inline-block;
        width: auto;
        vertical-align: middle;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  &_control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.04);
    border-radius: 30px;
    overflow: hidden;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  }

  &_searchIcon {
    display: inline-block;
    margin-left: -28px;
    margin-top: 3px;
    cursor: pointer;
  }
}